@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --accent-color: #c5ef1a;
  --primary-color: #292d32;
  --secondary-color: #f6f1f1;
  --border-color: #c5ef1a;
  --display-font: "Ibarra Real Nova";
}
body {
  background-color: var(--primary-color);
  /* margin: 20px; */
}
/* Fonte */
h1 {
  font-family: "Ibarra Real Nova", serif;
  font-style: italic;
  font-size: 8rem;
  color: var(--accent-color);
}
h2 {
  color: var(--secondary-color);
  font-weight: 400;
}
h3 {
  font-size: 3rem;
  font-family: "Ibarra Real Nova", serif;
  font-style: italic;
  color: var(--secondary-color);
  font-weight: 500;
}
h4 {
  color: var(--secondary-color);
  font-weight: 500;
}
p {
  color: var(--secondary-color);
  font-weight: 500;
}

.span {
  font-family: "Ibarra Real Nova", serif;
  font-style: italic;
}
a {
  color: var(--secondary-color);
}
.newsletter_p {
  font-family: "Ibarra Real Nova", serif;
}
.landing_span {
  font-family: "Ibarra Real Nova", serif;
}

#appearance {
  appearance: auto;
}

/* Mobil */
@media (max-width: 768px) {
  /* body {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  } */

  h1 {
    font-size: 3.75rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 0.8em;
  }
  h4 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.6rem;
  }
}

/* Desktop */
@media (min-width: 768px) {
  /* body {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  } */
  /* main {
    margin-left: 2rem;
    margin-right: 2rem;
  } */
  h2 {
    font-size: 3rem;
  }
  p {
    font-size: 1.125rem;
  }
  h4 {
    font-size: 1.5rem;
  }
}
