/* Animation af underline. Kode lært fra https://css-irl.info/animating-underlines/ (besøgt 30/11/23) */
.a {
  display: block;
  position: relative;
  /*overflow:hidden skjuler stregen før brugeren hover / focus */
  overflow: hidden;
  width: fit-content;
  /*padding top og buttom til at få nedhængende bogstaver (g) til ikke at blive cuttet af */
  margin: 0.2em 0;
}

.a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--secondary-color);
  opacity: 1;
  /* translate3d flytter elementet i (x, y, z) retning */
  transform: translate3d(-100%, 0, 0);
  /* laver transition af stregen's opacity og bevægelse, og tager 600ms at dukke op */
  transition: opacity 600ms, transform 600ms;
}

.a:hover::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.current_page:hover::after,
.current_page:focus::after {
  height: 1px;
  display: none;
  transform: none;
}
/* .current_page::after {
  height: 0px;
  background-color: transparent;
} */

.current_page {
  border-bottom: 2px solid var(--primary-color);
}
.burger_a {
  color: var(--primary-color);
}
.burger_a::after {
  height: 2px;
  background-color: var(--primary-color);
}
